<launch>
    <node pkg="uav_autonomous_utils" type="control/goal_to_velocity_pid.py" name="goal_to_velocity_pid" output="screen">
        <remap from="/move_base_simple/goal" to="/move_base_mission"/>
        <remap from="/mavros/local_position/odom" to="/mavros/local_position/odom"/>
        <remap from="/uav/attractive_velocity" to="/uav_attractive_velocity"/>
    </node>

    <!-- <node pkg="artificial_potential_fields" type="apf" name="apf_node" output="screen">
        <remap from="/point_cloud" to="/iris/camera/depth/points"/>
        <remap from="/potential_fields/velocity" to="/mavros/setpoint_velocity/cmd_vel"/>
        <remap from="/uav/odometry" to="/mavros/local_position/odom"/>
        <remap from="/uav/attractive_velocity" to="/uav/attractive_velocity"/>
        <param name="k_repulsive" value="0.0025" />
        <param name="k_repulsive_z" value="0.001" />
        <param name="eta_0" value="6.0" />
    </node> -->

  <node pkg="my_apf_pkg" type="apf_3d_node.py" name="apf_3d_node" output="screen">
    <param name="r" value="6.5000" />
    <param name="eta_xy" value="0.8000" />   <!-- repulsion_gain for XY -->
    <param name="eta_z" value="0.4000" />   <!-- repulsion_gain for Z -->
    <param name="eps" value="0.3000" />  <!-- minimum_distance -->
    <param name="max_rep_norm" value="1.0000" />
    <param name="max_out_norm" value="2.0000" />
    <param name="alpha" value="0.7000" /> <!-- exp moving average for the repulsion -->
    <param name="ignore_z" value="false" />
    <param name="max_points" value="10000" />
    <param name="attractive_topic" value="/uav_attractive_velocity" />
    <param name="pointcloud_topic" value="/points" />
    <param name="output_topic" value="/cmd_corrected" />
  </node>



</launch>